body, html {
  height: 100%;
}

.fullscreen-bg {
  background: url(media/bg.jpg) no-repeat center center fixed;
  background-color: rgba(63, 63, 63, 1);
  background-blend-mode: lighten;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  /* background-color: rgb(53, 53, 53); */
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.cover-container {
   max-width: 75%; 
}

.carousel-indicators {
  bottom:-50px;
}

/*
 * Header
 */
 .masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.avatar {
  object-fit: cover;
  height: auto;
  width: 100%;
  max-width: 16em;
  max-height: 16em;
}

.carousel-media{
  max-height: 48em;
}

.mw-75 {
  max-width: 75%; 
}

.bg-darker {
  background-color: #2c2c2c!important;
}

/* .container-fluid {
  padding-left: 0%;
  padding-right: 0%;
}

#projects-container {
  margin-right: auto;
  margin-left: auto;
} */