.react-player video {
	object-fit: cover;
}

.swiper-button-next {
	color: white;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.swiper-button-prev {
	color: white;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet {
	background: white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}